body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    background-image: url('bg.webp');
    background-size: cover;
    background-attachment: fixed;
}
.hidden {
    display: none;
}
#landing-page {
    margin-top: 50px;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#game-container {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
#score-timer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
#grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
}
.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}
.card.flipped {
    background-color: #a3e635;
    cursor: default;
}
